{% extends 'base.html.twig' %}

{% block title %}
	Hello MyViewController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>OPERATIONS</h1>

		<h3>			
            ADDITION </br>
            {% set addition = x + y  %}
			{{x}} </br> + </br>	{{y}} </br>__________</br>{{ addition }} </br></br></br>
            	
            SOUSTRACTION </br>
            {% set soustraction = x - y  %}
			{{x}} </br> - </br>	{{y}} </br>__________</br>{{ soustraction }} </br></br></br>

            	
            MULTIPLICATION </br>
            {% set multiplication = x * y  %}
			{{x}} </br> * </br>	{{y}} </br>__________</br>{{ multiplication }} </br></br></br>

            	
            DIVISION </br>
            {% set division = x / y  %}
			{{x}} </br> / </br>	{{y}} </br>__________</br>{{ division }} </br></br></br>
            
        </h3>



{% endblock %}
