{% extends 'base.html.twig' %}

{% block title %} 
    Tableau Controller
{% endblock %}

{% block body %}
        <h1> {{ cours_name }}</h1>

        <ul>
            
            <li>
                {{ tableau[0] }}
            </li>
            <li>
             {{ tableau[1] }}
            </li>
            <li>
             {{ tableau[2] }}
            </li>
              <li>
             {{ tableau[3] }}
            </li>
              <li>
             {{ tableau[4] }}
            </li>
              <li>
             {{ tableau[5] }}
            </li>
              <li>
             {{ tableau[6] }}
            </li>
              <li>
             {{ tableau[7] }}
            </li>
              <li>
             {{ tableau[8] }}
            </li>
        </ul>


{% endblock %}
