{% extends 'base.html.twig' %}
{% block title %}Hello Symfony !{% endblock %}

{% block body %}

<div class="border d-flex flex-column">
<button class="bouton" >
<a class="lien" href="{{ path('index_biblio') }}">Biliothèque</i></a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_a_propos') }}">A propos</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_livres') }}">Les livres</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_locations') }}">Les locations</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_documentation') }}">Documentation</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_contactbiblio') }}">Nous Contacter</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_connexion') }}">Connexion</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_administration') }}">Administration</a>
</button>

{% endblock %}

{% block footer %}
Hello Symfony !{% endblock %}
