{% extends 'base.html.twig' %}


{% block body %}
{% include 'admin-menu.html.twig' %}

<div class="flex flex-col gap-2 mt-5">

    <div class="flex ml-5 ">     
        <a href="{{  path('index_articles') }}" class="w-3/6 h-20 rounded-full bg-red-500 flex items-center justify-center text-3xl text-white font-extrabold relative">
            <div class="w-20 h-20 rounded-full mr-5 absolute inset-y-0 left-0 bg-gray-500" >
                <img src="images/book.png" alt="">
            </div>
            ARTICLES
        </a>
    </div>

    <div class="flex ml-5">
        
        <a href="{{  path('index_categorie') }}" class="w-4/6 h-20 rounded-full bg-green-500 flex items-center justify-center text-3xl text-white font-extrabold relative">
		<div class="w-20 h-20 bg-gray-600 rounded-full mr-5 absolute inset-y-0 left-0">
        </div>
            CATEGORIES
        </a>
    </div>

    <div class="flex ml-5">
       
        <a href="{{  path('index_locations') }}" class="w-5/6 h-20 rounded-full bg-blue-500 flex items-center justify-center text-3xl text-white font-extrabold relative">
		 <div class="w-20 h-20 bg-gray-600 rounded-full mr-5 absolute inset-y-0 left-0">
        </div>
            LOCATIONS
        </a>
    </div>

    <div class="flex ml-5">
        <a href="{{  path('index_utilisateurs') }}" class="w-full h-20 rounded-full bg-yellow-500 relative flex items-center justify-center text-3xl text-white font-extrabold">
            <div class="w-20 h-20 rounded-full mr-5 inline-block absolute inset-y-0 left-0">
                <img src="images/users.png" alt="">
            </div>
            UTILISATEURS
        </a>
    </div>
</div>

  <div class="flex ml-5 mt-5">     
        <a href="{{  path('index_auteurs_nouveaux') }}" class="w-3/6 h-20 rounded-full bg-red-500 flex items-center justify-center text-3xl text-white font-extrabold relative">
            <div class="w-20 h-20 rounded-full mr-5 absolute inset-y-0 left-0 bg-gray-500" >
                <img src="images/book.png" alt="">
            </div>
            AUTEURS
        </a>
    </div>

    
  <div class="flex ml-5 mt-5">     
        <a href="{{  path('index_commentaires_nouveaux') }}" class="w-3/6 h-20 rounded-full bg-red-500 flex items-center justify-center text-3xl text-white font-extrabold relative">
            <div class="w-20 h-20 rounded-full mr-5 absolute inset-y-0 left-0 bg-gray-500" >
                <img src="images/book.png" alt="">
            </div>
            COMMENTAIRES
        </a>
    </div>





{% endblock %}

{% block footer %}
<div class="mt-96"> FOOTER </div>
{% endblock %}