{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

{% include 'admin-menu.html.twig' %}

<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-yellow-600">
  <a class="lien" href="{{ path('index_nouvel_utilisateur') }}"> Créer un nouvel article</a> 
</button>

<button class="rounded-full py-3 px-6 bg-yellow-600">
  <a class="lien" href="{{ path('index_utilisateurs_form1') }}">Formulaire #1</a> 
</button>

<button class="rounded-full py-3 px-6 bg-yellow-600">
  <a class="lien" href="{{ path('index_utilisateurs_form2') }}">Formulaire #2</a> 
</button>
</div>

    <h1 class="text-4xl text-center text-yellow-600 font-bold mt-5">TABLEAU DES UTILISATEURS</h1>
 
  
 <table class="table-fixed border-separate border border-yellow-600 mt-5" >
        <thead class="bg-yellow-500 text-white">
            <tr>
                 <th class="border border-yellow-600">Id</th>
                 <th class="border border-yellow-600">Nom</th>
                 <th class="border border-yellow-600">Prénom</th>
                <th class="border border-yellow-600">Date de naissance</th>
                 <th class="border border-yellow-600">Adresse</th>
                 <th class="border border-yellow-600">Email</th>
                 <th class="border border-yellow-600">Login</th>
                 <th class="border border-yellow-600">Rôle</th>
                 <th class="border border-yellow-600">Afficher</th>
                  <th class="border border-yellow-600">Modifier</th>
                   <th class="border border-yellow-600">Supprimer</th>
            </tr>
        </thead>
        <tbody>
         {# https://twig.symfony.com/doc/3.x/tags/for.html #}
       {% for utilisateur in utilisateurs %}
            <tr>           
                 <td class="border border-yellow-600">{{ utilisateur.id }}</td>
                 <td class="border border-yellow-600">{{ utilisateur.nom }}</td>
                 <td class="border border-yellow-600">{{ utilisateur.prenom }}</td>
               <td class="border border-yellow-600">{{ utilisateur.date_de_naissance|date() }}</td>
                 <td class="border border-yellow-600">{{ utilisateur.adresse }}</td>
                 <td class="border border-yellow-600">{{ utilisateur.email }}</td>
                 <td class="border border-yellow-600">{{ utilisateur.login }}</td>
                 <td class="border border-yellow-600">{{ utilisateur.role }}</td>  
                <td class="border border-yellow-600 bg-yellow-600">
                <a class="lien" href="{{ path('index_affichage_utilisateur',{ 'id':utilisateur.id }) }}"> Afficher </a>
                </td>   
                <td class="border border-yellow-600 bg-yellow-600">
                <a class="lien" href="{{ path('index_edit_utilisateur',{ 'id':utilisateur.id }) }}"> Modifier </a>
                </td>
                <td class="border border-yellow-600 bg-yellow-600">
                <a class="lien" href="{{ path('index_supprimer_utilisateur',{ 'id':utilisateur.id }) }}"> Supprimer </a>
                </td>                        
            </tr>
             {% endfor %}
        </tbody>
    </table>

     
{% endblock %}
