{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>
 <table class="table table-striped" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
               <!-- <th>Date de naissance</th> -->
                <th>Adresse</th>
                <th>Email</th>
                <th>Login</th>
                <th>Rôle</th>
               
            </tr>
        </thead>
        <tbody>
         {
            <tr>           
                <td>{{ utilisateurs.id }}</td>
                <td>{{ utilisateurs.nom }}</td>
                <td>{{ utilisateurs.prenom }}</td>
              <!--  <td>{#{ utilisateurs.date_de_naissance| date("d/m/Y") }#}</td> -->
                <td>{{ utilisateurs.adresse }}</td>
                <td>{{ utilisateurs.email }}</td>
                <td>{{ utilisateurs.login }}</td>
                <td>{{ utilisateurs.role }}</td>  
                                         
            </tr>
           
        </tbody>
    </table>
        
     
{% endblock %}
