{% extends 'base.html.twig' %}

{% block title %}Info utilisateur{% endblock %}

{% block body %}

{% include 'admin_menu.html.twig' %}

<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-yellow-600">
  <a class="lien" href="{{ path('index_utilisateurs') }}">Retour au tableau des utilisateurs</a> 
</button>

</div>

    <h1 class="text-4xl text-center text-yellow-600 font-bold mt-5">UTILISATEURS  </h1>
 <table class=" w-full table-fixed border-separate border border-yellow-600 mt-5" >
        <thead class="bg-yellow-500 text-white">
            <tr>
                 <th class="border border-yellow-600">Id</th>
                 <th class="border border-yellow-600">Nom</th>
                 <th class="border border-yellow-600">Prénom</th>
                <th class="border border-yellow-600">Date de naissance</th>
                 <th class="border border-yellow-600">Adresse</th>
                 <th class="border border-yellow-600">Email</th>
                 <th class="border border-yellow-600">Login</th>
                 <th class="border border-yellow-600">Rôle</th>              
            </tr>
        </thead>
        <tbody>
   {% for element in utilisateurs %}
   <tr>           
    <td class="border border-yellow-600">{{ element.id }}</td>
    <td class="border border-yellow-600">{{ element.nom }}</td>
    <td class="border border-yellow-600">{{ element.prenom }}</td>
  <td class="border border-yellow-600">{{ element.date_de_naissance|date() }}</td>
    <td class="border border-yellow-600">{{ element.adresse }}</td>
    <td class="border border-yellow-600">{{ element.email }}</td>
    <td class="border border-yellow-600">{{ element.login }}</td>
    <td class="border border-yellow-600">{{ element.role }}</td>                                        
</tr> 
       
   {% endfor %}
       
        </tbody>
    </table>
     
{% endblock %}
