{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

{% include 'admin_menu.html.twig' %} 

<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-gray-600 text-white hover:bg-green-400">
  <a class=""  href="{{ path('index_articles_formulaire') }}">Ecrire un nouvel article</a> 
</button>
</div>   

 <h1 class="text-4xl text-center font-bold mt-5">ARTICLES <br> Nombre total : {{ articles| length }} </h1>
    
 <div class=" flex flex-wrap gap-5 mt-5 justify-center "> 
        {% for article in articles %}
    <div class="flex flex-col w-1/5 border border-black">
     <div class=" border border-black h-10 text-center ">{{ article.categorie.titre }} </div>
        <div class="border border-black h-20 text-center "> {{ article.titre }}   </div>       
        <div class=" border border-black h-10 text-center "> {{ article.auteurs.prenom }} {{ article.auteurs.nom }}</div> 
        <div class=" flex flex-col text-center ">         
        <a class="h-10 border border-black bg-gray-400 hover:bg-green-400 " 
        href="{{ path('articles_show',{ 'id':article.id }) }} 
        "> Afficher l'article </a>              
        <a class="h-10 border border-black bg-gray-400 hover:bg-green-400 "  href="{{ path('index_article_modification',{ 'id':article.id }) }}"> Modifier l'article </a>                    
        <a class="h-10 border border-black bg-gray-400 hover:bg-red-600 hover:text-white"  href="{{ path('index_article_suppression',{ 'id':article.id }) }}"> Supprimer l'article </a>       
        </div>   
    </div>
      {% endfor %}
 </div>
        
     
{% endblock %}
