{% extends 'base.html.twig' %}
{% block title %}Info article
{% endblock %}
{% block body %}
{% include 'admin_menu.html.twig' %}

<div class="mt-5">
	<button class="rounded-full py-3 px-6 bg-gray-600 hover:bg-green-400">
		<a class="lien" href="{{ path('index_articles') }}">Retour aux articles</a>
	</button>
</div>

<div class="mt-5 mr-5">
	<h1 class="text-2xl text-center font-bold">{{ articles.titre }}</h1>
	<div class=" mt-5">{{ articles.image }}</div>
	<div class=" mt-5">Ecrit par
		{{ articles.auteurs.prenom }}
		<span class="capitalize">{{ articles.auteurs.nom }}
		</span>
		le
		{{ articles.date| date("d/m/Y") }}
	</div>
	<div class="mt-5">{{ articles.contenu }}</div>

	<div class="mt-5 items-center">
		{{ form(commentairesFormulaire) }}
	</div>

<h3 class="text-center"> {{ articles.commentaires| length}} Commentaires</h3>
	<div>
		{% for item in articles.commentaires %}
		<div class="flex justify-start mt-5">
			<div class="w-4/5 h-auto p-3 rounded-full bg-red-500  flex items-center justify-center">
				{{ item.auteur }} / {{ item.dateheure| date() }}<br>{{ item.reponse }}
			</div>		
		</div>

		<div class="flex justify-end mt-5">			
			<div class="w-4/5 h-auto p-3 rounded-full bg-green-500  flex items-center justify-center">
				{{ item.auteur }} / {{ item.dateheure| date() }}<br>{{ item.reponse }}
			</div>
		</div>

		{% else %}
		Aucun commentaire n'a été publié
		{% endfor %}
	</div>


	{% endblock %}