{% extends 'base.html.twig' %}

{% block body %}

{% include 'admin-menu.html.twig' %} 
<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-red-600 ">
  <a class="lien" href="{{ path('index_articles') }}">Retour au tableau des articles</a> 
</button>

<button class="rounded-full py-3 px-6 bg-red-600">
  <a class="lien" href="{{ path('index_articles_formulaire1') }}">Formulaire #1</a> 
</button>
</div>

<h1 class="text-4xl text-center text-red-600 font-bold mt-5">FORMULAIRE #2</h1>

{{ form_start(formArticle) }}
       
      {{ form_row(formArticle.titre) }} 
       {{ form_row(formArticle.image) }}       
      {{ form_row(formArticle.date) }}        
        {{ form_row(formArticle.resume) }}       
        {{ form_row(formArticle.contenu) }}       
{{ form_end(formArticle) }}


{% endblock %}

