{% extends 'base.html.twig' %}

{% block title %}Info article
{% endblock %}

{% block body %}

	{% include 'admin_menu.html.twig' %}

	<div class="mt-5">
		<button class="rounded-full py-3 px-6 bg-red-600">
			<a class="lien" href="{{ path('index_articles') }}">Retour aux articles</a>
		</button>

		<button class="rounded-full py-3 px-6 bg-red-600">
			<a class="lien" href="{{ path('index_articles_formulaire1') }}">Formulaire #1</a>
		</button>

		<button class="rounded-full py-3 px-6 bg-red-600">
			<a class="lien" href="{{ path('index_articles_formulaire2') }}">Formulaire #2</a>
		</button>
	</div>


	<div class="mt-5">
		<h1 class="text-4xl text-center text-red-600 font-bold">
			{{ articles.titre }}</h1>
		<div class="border border-red-600">{{ articles.date| date("d/m/Y") }}</div>
		<div class="border border-red-600">{{ articles.image }}</div>
		<div class="border border-red-600">{{ articles.contenu }}</div>

    	<div class="border border-red-600"> {{ form(commentairesFormulaire) }} </div>

<div> 
{% for item in articles.commentaires %}
{{ item.auteur }}
  {{ item.reponse }}
  {{ item.dateheure| date() }}
  {% else %}
    Aucun commentaire n'a été publié
{% endfor %}
 </div>

<div></div>
<div></div>
<div></div>



	{% endblock %}
