{% extends 'base.html.twig' %}

{% block title %}Hello articlessController!{% endblock %}

{% block body %}
 {% include "admin_menu.html.twig" %}
<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-green-600">
  <a class="lien" href="{{ path('index_articles_formulaire') }}">Ecriré un nouvel articles</a> 
</button>


<div class="mt-5">
<h1 class="text-4xl text-center text-green-600 font-bold">ARTICLES</h1>

 <table class="table-fixed w-full border-separate border border-green-600 mt-5" >
        <thead class="bg-green-500 text-white">
            <tr>
                <th class="border border-green-600">Id</th>
                <th class="border border-green-600">Titre</th>
                 <th class="border border-green-600">Résumé</th>
                  <th class="border border-green-600">Contenu</th>
                <th class="border border-green-600">Image</th>
                 <th class="border border-green-600">Catégorie</th>
                 <th class="border border-green-600">Auteur</th>

                  
            </tr>
        </thead>
        <tbody>  
        {% for article in articles %}
           <tr>           
                <td class="border border-green-600">{{ article.id }}</td>
                <td class="border border-green-600">{{ article.titre }}</td> 
                 <td class="border border-green-600">{{ article.resume }}</td> 
                 <td class="border border-green-600">{{ article.contenu }}</td> 
                 <td class="border border-green-600">{{ article.image }}</td> 
                   <td class="border border-green-600">{{ article.categorie.titre }}</td> 
                   <td class="border border-green-600">{{ article.auteurs.prenom }} {{ article.auteurs.nom }} </td> 
                   <td class="border border-green-600">
                       {{ article.commentaires.auteur }} / {{ article.commentaires.email }} / {{ article.commentaires.dateheure }} / {{ article.commentaires.reponse }}</td> 
                              
     
                </td>                                
            </tr>
            
        {% endfor %} 
                  
        </tbody>
    </table>
</div>
{% endblock %}
