{% extends 'base.html.twig' %}

{% block body %}

 <div class="h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold"></div>
{{ form_start(formArticle) }}
        <div class="h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold">
         TITRE : {{ form_widget(formArticle.titre) }} 
         </div>

        <div class="h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold">
        IMAGE : {{ form_widget(formArticle.image) }}
        </div>

        <div class="h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold">
        DATE : {{ form_widget(formArticle.date) }}
        </div>

        <div class="h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold">
        RESUME : {{ form_widget(formArticle.resume) }}
        </div>

        <div class="h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold">
         CONTENU : {{ form_widget(formArticle.contenu) }}   
         </div>

        <div class="h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold">
        <input type="submit" value="Enregistrer">
        </div>
{{ form_end(formArticle) }}
</div>
    
           
        
        
        
          

  <button type="submit" class="btn btn-success">envoyer</button>


{% endblock %}

