{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

{% include 'admin-menu.html.twig' %} 

<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-red-600">
  <a class="lien" href="{{ path('index_new_article') }}"> Créer un nouvel article</a> 
</button>

<button class="rounded-full py-3 px-6 bg-red-600">
  <a class="lien" href="{{ path('index_newarticleform') }}">Formulaire de création</a> 
</button>
</div>

                

    <h1 class="text-4xl text-center font-bold">TABLEAU DES ARTICLES</h1>
 <table class="table-fixed border-separate border border-red-600" >
        <thead class="bg-red-500 text-white">
            <tr>
                <th class="border border-red-600">Id</th>
                <th class="border border-red-600">Titre</th>
                <th class="border border-red-600">Contenu</th>
                <th class="border border-red-600">Action</th>
            </tr>
        </thead>
        <tbody>
         {# https://twig.symfony.com/doc/3.x/tags/for.html #}
        {% for article in articles %}
            <tr>           
                <td class="border border-red-600">{{ article.id }}</td>
                <td class="border border-red-600">{{ article.titre }}</td>
                <td class="border border-red-600">{{ article.contenu }}</td>
                <td class="border border-red-600">
                <button class="bouton">  <a class="lien" href="{{ path('articles_affichage',{ 'id':article.id }) }}"> Afficher </a> </button>
                </td>               
            </tr>
             {% endfor %}
        </tbody>
    </table>
        
     
{% endblock %}
