{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
<h1> Nouvel enregistrement dans la table</h1>
 <div class="animate-bounce"> {{ articles.id }} </div>
    <div class="animate-bounce"> {{ articles.titre }} </div>
    <div class="animate-bounce"> {{ articles.contenu }} </div>
    <div class="animate-bounce"> {{ articles.id }} </div>
    <div class="animate-bounce"> {{ articles.id }} </div>
{% endblock %}