{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}

{% include 'admin-menu.html.twig' %} 

<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-red-600">
  <a class="lien" href="{{ path('index_articles') }}">Retour au tableau des articles</a> 
</button>

<button class="rounded-full py-3 px-6 bg-red-600">
  <a class="lien" href="{{ path('index_newarticleform') }}">Formulaire de création</a> 
</button>
</div>
<h1> Nouvel enregistrement dans la table</h1>
 <div class="animate-bounce"> {{ articles.id }} </div>
    <div class="animate-bounce"> {{ articles.titre }} </div>
    <div class="animate-bounce"> {{ articles.contenu }} </div>
    <div class="animate-bounce"> {{ articles.id }} </div>
    <div class="animate-bounce"> {{ articles.id }} </div>
{% endblock %}