{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(formArticle) }}
           {{ form_widget(formArticle.titre) }}
        {{ form_widget(formArticle.image) }}
        {{ form_widget(formArticle.date) }}
        {{ form_widget(formArticle.resume) }}
        {{ form_widget(formArticle.contenu) }}      
    {{ form_end(formArticle) }}
  <button type="submit" class="btn btn-success">envoyer</button>


{% endblock %}

