<h3>
	<button class="bouton">
		<a href="{{ path('index_biblio') }}">Accueil</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_systeme') }}">Système</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_utilisateurs') }}">Utilisateurs</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_contenu') }}">Contenu</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_categorie') }}">Catégorie</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_articles-a-la-une') }}">Articles à la une</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_images') }}">Images</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_extensions') }}">Extensions</a>
	</button>

	<button class="bouton">
		<a href="{{ path('index_logout') }}">Logout</a>
	</button>

</h3>
