        <h3> 
           <button>  <a href="{{ path('home') }}"> Accueil </a> </button>
            <button>  <a href="{{ path('index_liste') }}"> Système </a> </button>  
        <button>  <a href="{{ path('index_identite') }}"> Utilisateurs </a> </button>
       
        <button>  <a href="{{ path('index_contact') }}"> Contenu </a> </button>
        <button>  <a href="{{ path('index_about') }}"> Catégorie </a> </button>  
        <button>  <a href="{{ path('index_galerie') }}"> Articles à la une </a> </button>
        <button>  <a href="{{ path('index_programme') }}"> Images </a> </button>  
        <button>  <a href="{{ path('index_actualites') }}"> Extensions </a> </button>
          <button>  <a href="{{ path('index_calcul') }}"> Logout </a> </button>
    </h3>

