<nav class="flex">	
	<a class="rounded-full h-24 w-24 flex items-center justify-center bg-indigo-600 text-white" href="{{ path('home') }}">Accueil</a>

<div class="my-auto ml-3">
	<button class="rounded-full py-3 px-6 bg-red-600">
  <a class="lien" href="{{ path('index_articles') }}">Articles</a> 
</button>

<button class="rounded-full py-3 px-6 bg-green-600">
  <a class="lien" href="{{ path('index_categorie') }}">Catégories</a> 
</button>

<button class="rounded-full py-3 px-6 bg-blue-600">
  <a class="lien" href="{{ path('index_locations') }}">Locations</a> 
</button>

<button class="rounded-full py-3 px-6 bg-yellow-600">
  <a class="lien" href="{{ path('index_utilisateur') }}">Utilisateurs</a> 
</button>
</div>

</nav>



	


