

        <h3> 
           <button>  <a href="{{ path('home') }}"> Accueil </a> </button>
        <button>  <a href="{{ path('index_identite') }}"> Identité </a> </button>
        <button>  <a href="{{ path('index_liste') }}"> Liste </a> </button>  
        <button>  <a href="{{ path('index_contact') }}"> Contact </a> </button>
        <button>  <a href="{{ path('index_about') }}"> A propos </a> </button>  
        <button>  <a href="{{ path('index_galerie') }}"> Galerie </a> </button>
        <button>  <a href="{{ path('index_programme') }}"> Programme </a> </button>  
        <button>  <a href="{{ path('index_actualites') }}"> Actualités </a> </button>
          <button>  <a href="{{ path('index_calcul') }}"> Opérations </a> </button>
        <button>  <a href="{{ path('index_conditions') }}"> Conditions </a> </button>  
        <button>  <a href="{{ path('index_iterations') }}"> Itérations </a> </button>
          <button>  <a href="{{ path('index_filtres') }}"> Filtres </a> </button>
          <button>  <a href="{{ path('index_biblio') }}"> Bibliothèque </a> </button>
    </h3>

