<h3>
	<button>
		<a href="{{ path('home') }}">
			Accueil
		</a>
	</button>
	<button>
		<a href="{{ path('index_identite') }}">
			A propos
		</a>
	</button>
	<button>
		<a href="{{ path('index_liste') }}">
			Les livres
		</a>
	</button>
	<button>
		<a href="{{ path('index_contact') }}">
			Les locations
		</a>
	</button>
	<button>
		<a href="{{ path('index_about') }}">
			Documentation
		</a>
	</button>
	<button>
		<a href="{{ path('index_galerie') }}">
			Nous Contacter
		</a>
	</button>
	<button>
		<a href="{{ path('index_programme') }}">
			Connexion
		</a>
	</button>
	<button>
		<a href="{{ path('index_actualites') }}">
			Administration
		</a>
	</button>
</h3>
