<h3>
	<button>
		<a href="{{ path('index_biblio') }}">
			Accueil
		</a>
	</button>
	<button>
		<a href="{{ path('index_a_propos') }}">
			A propos
		</a>
	</button>
	<button>
		<a href="{{ path('index_livres') }}">
			Les livres
		</a>
	</button>
	<button>
		<a href="{{ path('index_locations') }}">
			Les locations
		</a>
	</button>
	<button>
		<a href="{{ path('index_documentation') }}">
			Documentation
		</a>
	</button>
	<button>
		<a href="{{ path('index_contactbiblio') }}">
			Nous Contacter
		</a>
	</button>
	<button>
		<a href="{{ path('index_connexion') }}">
			Connexion
		</a>
	</button>
	<button>
		<a href="{{ path('index_administration') }}">
			Administration
		</a>
	</button>
</h3>
