{% extends 'base.html.twig' %}

{% block title %}Categorie Index{% endblock %}

{% block body %}

{% include 'admin_menu.html.twig' %}

<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-green-600">
  <a class="lien" href="{{ path('index_newcategorie') }}"> Créer une nouvelle catégorie</a> 
</button>

<button class="rounded-full py-3 px-6 bg-green-600">
  <a class="lien" href="{{ path('index_categorieform1') }}">Formulaire #1</a> 
</button>

<button class="rounded-full py-3 px-6 bg-green-600">
  <a class="lien" href="{{ path('index_categorieform2') }}">Formulaire #2</a> 
</button>
</div>

<div class="mt-5">
<h1 class="text-4xl text-center text-green-600 font-bold">TABLEAU DES CATEGORIES</h1>

 <table class="table-fixed w-full border-separate border border-green-600 mt-5" >
        <thead class="bg-green-500 text-white">
            <tr>
                <th class="border border-green-600">Id</th>
                <th class="border border-green-600">Titre</th>
                <th class="border border-green-600">Résumé</th>
                <th class="border border-green-600">Afficher</th>
                <th class="border border-green-600">Editer</th>
             
            </tr>
        </thead>
        <tbody>
         {# https://twig.symfony.com/doc/3.x/tags/for.html #}
        {% for cat in categorie %}
            <tr>           
                <td class="border border-green-600">{{ cat.id }}</td>
                <td class="border border-green-600">{{ cat.titre }}</td>
                <td class="border border-green-600">{{ cat.resume }}</td>
                     <td class="border border-green-600 bg-green-600">                
      <a class="lien" href="{{ path('index_showcategorie',{ 'id':cat.id }) }}"> Afficher </a>
                </td>
                <td class="border border-green-600 bg-green-600">                
      <a class="lien" href="{{ path('index_edit_categorie',{ 'id':cat.id }) }}"> Modifier </a>
                </td>              
            </tr>
             {% endfor %}
        </tbody>
    </table>
</div>




 
        
     
{% endblock %}
